body{
    background-color: rgba(0, 0, 139, 0.651);
}

#archieved-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
@media(max-width:500px){
    #archieved-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }  
}
